@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': green
    )
  ),
  $header: (
    'height': 60px
  ),
  $footer: (
    'height': 30px
  )
);
